<a href="https://colab.research.google.com/github/123franklin321/cienciasdedados/blob/master/Combinando_Tabelas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

In [3]:
df_products = pd.read_csv('olist_products_dataset.csv')
df_products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [4]:
tb_telefonia = df_products.query('product_category_name == "telefonia" and product_photos_qty > 5')
tb_telefonia

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
118,7f6308ba4057a6a740af7b4dcfb79c13,telefonia,63.0,1930.0,9.0,200.0,19.0,5.0,11.0
175,4473f3e5c65952b074ef987fa5c24662,telefonia,59.0,776.0,6.0,350.0,17.0,4.0,12.0
316,bb31a27a0b24236c8ce7e0c6264c51ec,telefonia,49.0,276.0,12.0,100.0,19.0,3.0,11.0
410,a453b4ccccf554efba31d5ada5a59a60,telefonia,60.0,818.0,6.0,300.0,17.0,4.0,12.0
637,afb0d399cb1dec68de437eec41c94fad,telefonia,58.0,733.0,6.0,100.0,18.0,6.0,14.0
...,...,...,...,...,...,...,...,...,...
31762,c91fd1bf3e75d3b29370483ffda5eee0,telefonia,60.0,751.0,6.0,350.0,17.0,4.0,12.0
31941,b51485801348808e02617629d896c936,telefonia,51.0,394.0,6.0,100.0,19.0,3.0,20.0
32056,5d98f7de3b78c8dd8d7b62ea22000a65,telefonia,59.0,776.0,6.0,300.0,17.0,4.0,12.0
32272,8cefe1c6f2304e7e6825150218ffc58c,telefonia,59.0,818.0,6.0,300.0,17.0,4.0,12.0
32339,9fee00e0df0ae090525db9ad0dd73cb8,telefonia,58.0,818.0,6.0,150.0,17.0,4.0,12.0

In [5]:
tb_eletronicos = df_products.query('product_category_name == "eletronicos" and product_photos_qty > 5')[['product_id', 'product_category_name', 'product_photos_qty']]
tb_eletronicos

,product_id,product_category_name,product_photos_qty
2771,93c902b021a9e594f658ab1b0351602a,eletronicos,7.0
4244,98e0de96ebb0711db1fc3d1bad1a902f,eletronicos,6.0
5343,40002041835941ae0e10b9716ab7b03d,eletronicos,7.0
7930,78f8812dd6c26f65ff9cd09b0318090c,eletronicos,7.0
10538,0abc19e41fdc9d6894b8cae651619253,eletronicos,6.0
11892,9b37a918bcf2c8e1064e867cf1df4637,eletronicos,6.0
15378,c714f103a677fbcc818799ae0fcda11a,eletronicos,10.0
20133,f84ca2376ed799523593afad3bdae70f,eletronicos,7.0
22681,01cf56cd6138b926a4802d16fc304149,eletronicos,6.0
23192,93566f7e511c3e7472b05758fa08e64d,eletronicos,7.0
27826,9ff8568dfb9041b898e65ff4018c8c57,eletronicos,6.0
29296,7af4c96f817389692dfb05e679dbd991,eletronicos,6.0
30521,63bfa27a0cee21fd896dc27f58b6d656,eletronicos,6.0

In [6]:
tb_telefonia.append(tb_eletronicos)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
118,7f6308ba4057a6a740af7b4dcfb79c13,telefonia,63.0,1930.0,9.0,200.0,19.0,5.0,11.0
175,4473f3e5c65952b074ef987fa5c24662,telefonia,59.0,776.0,6.0,350.0,17.0,4.0,12.0
316,bb31a27a0b24236c8ce7e0c6264c51ec,telefonia,49.0,276.0,12.0,100.0,19.0,3.0,11.0
410,a453b4ccccf554efba31d5ada5a59a60,telefonia,60.0,818.0,6.0,300.0,17.0,4.0,12.0
637,afb0d399cb1dec68de437eec41c94fad,telefonia,58.0,733.0,6.0,100.0,18.0,6.0,14.0
...,...,...,...,...,...,...,...,...,...
22681,01cf56cd6138b926a4802d16fc304149,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN
23192,93566f7e511c3e7472b05758fa08e64d,eletronicos,NaN,NaN,7.0,NaN,NaN,NaN,NaN
27826,9ff8568dfb9041b898e65ff4018c8c57,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN
29296,7af4c96f817389692dfb05e679dbd991,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN
30521,63bfa27a0cee21fd896dc27f58b6d656,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN

In [7]:
pd.concat([tb_telefonia, tb_eletronicos])

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
118,7f6308ba4057a6a740af7b4dcfb79c13,telefonia,63.0,1930.0,9.0,200.0,19.0,5.0,11.0
175,4473f3e5c65952b074ef987fa5c24662,telefonia,59.0,776.0,6.0,350.0,17.0,4.0,12.0
316,bb31a27a0b24236c8ce7e0c6264c51ec,telefonia,49.0,276.0,12.0,100.0,19.0,3.0,11.0
410,a453b4ccccf554efba31d5ada5a59a60,telefonia,60.0,818.0,6.0,300.0,17.0,4.0,12.0
637,afb0d399cb1dec68de437eec41c94fad,telefonia,58.0,733.0,6.0,100.0,18.0,6.0,14.0
...,...,...,...,...,...,...,...,...,...
22681,01cf56cd6138b926a4802d16fc304149,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN
23192,93566f7e511c3e7472b05758fa08e64d,eletronicos,NaN,NaN,7.0,NaN,NaN,NaN,NaN
27826,9ff8568dfb9041b898e65ff4018c8c57,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN
29296,7af4c96f817389692dfb05e679dbd991,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN
30521,63bfa27a0cee21fd896dc27f58b6d656,eletronicos,NaN,NaN,6.0,NaN,NaN,NaN,NaN

In [11]:
df_orders = pd.read_csv('olist_orders_dataset.csv', usecols= ['order_id', 'order_status'])
df_orders

                               order_id order_status
0      e481f51cbdc54678b7cc49136f2d6af7    delivered
1      53cdb2fc8bc7dce0b6741e2150273451    delivered
2      47770eb9100c2d0c44946d9cf07ec65d    delivered
3      949d5b44dbf5de918fe9c16f97b45f8a    delivered
4      ad21c59c0840e6cb83a9ceb5573f8159    delivered
...                                 ...          ...
99436  9c5dedf39a927c1b2549525ed64a053c    delivered
99437  63943bddc261676b46f01ca7ac2f7bd8    delivered
99438  83c1379a015df1e13d02aae0204711ab    delivered
99439  11c177c8e97725db2631073c19f07b62    delivered
99440  66dea50a8b16d9b4dee7af250b4be1a5    delivered

[99441 rows x 2 columns]

In [13]:
df_payments = pd.read_csv('olist_order_payments_dataset.csv', usecols= ['order_id', 'payment_type', 'payment_value'])
df_payments

                                order_id payment_type  payment_value
0       b81ef226f3fe1789b1e8b2acac839d17  credit_card          99.33
1       a9810da82917af2d9aefd1278f1dcfa0  credit_card          24.39
2       25e8ea4e93396b6fa0d3dd708e76c1bd  credit_card          65.71
3       ba78997921bbcdc1373bb41e913ab953  credit_card         107.78
4       42fdf880ba16b47b59251dd489d4441a  credit_card         128.45
...                                  ...          ...            ...
103881  0406037ad97740d563a178ecc7a2075c       boleto         363.31
103882  7b905861d7c825891d6347454ea7863f  credit_card          96.80
103883  32609bbb3dd69b3c066a6860554a77bf  credit_card          47.77
103884  b8b61059626efa996a60be9bb9320e10  credit_card         369.54
103885  28bbae6599b09d39ca406b747b6632b1       boleto         191.58

[103886 rows x 3 columns]

In [14]:
orders = df_orders.set_index('order_id').sort_index()

In [15]:
payments = df_payments.groupby('order_id')[['payment_value']].sum()
payments

                                  payment_value
order_id
00010242fe8c5a6d1ba2dd792cb16214          72.19
00018f77f2f0320c557190d7a144bdd3         259.83
000229ec398224ef6ca0657da4fc703e         216.87
00024acbcdf0a6daa1e931b038114c75          25.78
00042b26cf59d7ce69dfabb4e55b4fd9         218.04
...                                         ...
fffc94f6ce00a00581880bf54a75a037         343.40
fffcd46ef2263f404302a634eb57f7eb         386.53
fffce4705a9662cd70adb13d4a31832d         116.85
fffe18544ffabc95dfada21779c9644f          64.71
fffe41c64501cc87c801fd61db3f6244          55.79

[99440 rows x 1 columns]

In [16]:
pd.concat([orders, payments], axis=1)

                                 order_status  payment_value
order_id
00010242fe8c5a6d1ba2dd792cb16214    delivered          72.19
00018f77f2f0320c557190d7a144bdd3    delivered         259.83
000229ec398224ef6ca0657da4fc703e    delivered         216.87
00024acbcdf0a6daa1e931b038114c75    delivered          25.78
00042b26cf59d7ce69dfabb4e55b4fd9    delivered         218.04
...                                       ...            ...
fffc94f6ce00a00581880bf54a75a037    delivered         343.40
fffcd46ef2263f404302a634eb57f7eb    delivered         386.53
fffce4705a9662cd70adb13d4a31832d    delivered         116.85
fffe18544ffabc95dfada21779c9644f    delivered          64.71
fffe41c64501cc87c801fd61db3f6244    delivered          55.79

[99441 rows x 2 columns]

In [17]:
df_orders.merge(df_payments, on= 'order_id')

,order_id,order_status,payment_type,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,credit_card,18.12
1,e481f51cbdc54678b7cc49136f2d6af7,delivered,voucher,2.00
2,e481f51cbdc54678b7cc49136f2d6af7,delivered,voucher,18.59
3,53cdb2fc8bc7dce0b6741e2150273451,delivered,boleto,141.46
4,47770eb9100c2d0c44946d9cf07ec65d,delivered,credit_card,179.12
...,...,...,...,...
103881,9c5dedf39a927c1b2549525ed64a053c,delivered,credit_card,85.08
103882,63943bddc261676b46f01ca7ac2f7bd8,delivered,credit_card,195.00
103883,83c1379a015df1e13d02aae0204711ab,delivered,credit_card,271.01
103884,11c177c8e97725db2631073c19f07b62,delivered,credit_card,441.16
103885,66dea50a8b16d9b4dee7af250b4be1a5,delivered,debit_card,86.86

In [21]:
df_items = pd.read_csv('olist_order_items_dataset.csv')
df_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [22]:
df_reviews = pd.read_csv('olist_order_reviews_dataset.csv')
df_reviews

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,NaN,NaN,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

In [23]:
print(df_items.info(), df_reviews.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None None

In [26]:
df_items.merge(df_reviews.dropna(subset= ['review_comment_message']), on= 'order_id', how= 'right').sort_values(by=['order_id', 'product_id'])

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
25308,00010242fe8c5a6d1ba2dd792cb16214,1.0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03
2078,000229ec398224ef6ca0657da4fc703e,1.0,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,0c5b33dea94867d1ac402749e5438e8b,5,NaN,Chegou antes do prazo previsto e o produto sur...,2018-01-23 00:00:00,2018-01-23 16:06:31
27053,00042b26cf59d7ce69dfabb4e55b4fd9,1.0,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,940144190dcba6351888cafa43f3a3a5,5,NaN,Gostei pois veio no prazo determinado .,2017-03-02 00:00:00,2017-03-03 10:54:59
32924,0005a1a1728c9d785b8e2b08b904576c,1.0,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65,67b1ab8f3ec19d5a90f153f21757d3a1,1,NaN,Na descrição do produto quando fui efetuar a c...,2018-03-30 00:00:00,2018-04-02 00:52:01
12154,00061f2a7bc09da83e415a52dc8a4af1,1.0,d63c1011f49d98b976c352955b1c4bea,cc419e0650a3c5ba77189a1882b7556a,2018-03-29 22:28:09,59.99,8.88,7e92c32ae297ef950ee69781d9f1760c,5,NaN,A caixa do produto veio com uma pequena avaria...,2018-03-30 00:00:00,2018-03-30 04:04:56
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41852,ffeeb911d070bea3dd20bd5fd01da5e8,1.0,a5341e3f8155dbb3e62323d3ea289729,ff063b022a9a0aab91bad2c9088760b7,2017-10-13 19:25:54,79.50,16.19,49c3df0bcbf2d73e888164aa215e55a4,5,NaN,Adorei o produto ótimo e recomendo.,2017-10-26 00:00:00,2017-10-27 19:32:58
4559,fff8287bbae429a99bb7e8c21d151c41,1.0,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14,2b97d83f7c2b3a3b4285174e77379fbc,5,NaN,Tudo ok,2018-04-08 00:00:00,2018-04-12 20:25:15
4560,fff8287bbae429a99bb7e8c21d151c41,2.0,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14,2b97d83f7c2b3a3b4285174e77379fbc,5,NaN,Tudo ok,2018-04-08 00:00:00,2018-04-12 20:25:15
7056,fffb0b1a50e65c449020434fa835e078,1.0,e7be84ea9462aac5e2b0b08eb35ba7f1,36a968b544695394e4e9d7572688598f,2017-04-28 16:45:12,4.90,10.96,8d5c94767f299be3d6f88fd407377fa8,1,NaN,A compra foi feita Há mais de um mes e ainda n...,2017-05-17 00:00:00,2017-05-17 12:51:43
24536,fffe18544ffabc95dfada21779c9644f,1.0,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,fba117c9ac40d41ca7be54741f471303,5,NaN,Recebi o produto antes do prazo e corretamente.,2017-08-17 00:00:00,2017-08-18 12:24:05