<a href="https://colab.research.google.com/github/123franklin321/cienciasdedados/blob/master/Datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import os

In [5]:
hoje = datetime(2022, 12, 20)
hoje

datetime.datetime(2022, 12, 20, 0, 0)

In [6]:
hoje.day

20

In [7]:
hoje.month

12

In [12]:
hoje.strftime('%d / %B / %Y')

'20 / December / 2022'

In [13]:
hoje = datetime.today()
hoje

datetime.datetime(2022, 12, 20, 13, 18, 7, 287414)

In [22]:
produto = pd.read_csv('olist_products_dataset.csv', usecols= ['product_id', 'product_category_name'], index_col= 'product_id')
produto

                                              product_category_name
product_id
1e9e8ef04dbcff4541ed26657ea517e5                         perfumaria
3aa071139cb16b67ca9e5dea641aaa2f                              artes
96bd76ec8810374ed1b65e291975717f                      esporte_lazer
cef67bcfe19066a932b7673e239eb23d                              bebes
9dc1a7de274444849c219cff195d0b71              utilidades_domesticas
...                                                             ...
a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao
bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao
9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho
83808703fc0706a22e264b9d75f04a2e             informatica_acessorios
106392145fca363410d287a815be6de4                    cama_mesa_banho

[32951 rows x 1 columns]

In [58]:
pedido = pd.read_csv('olist_order_items_dataset.csv', usecols= ['order_id', 'product_id', 'price', 'order_item_id'], index_col='product_id')
pedido

,order_id,order_item_id,price
product_id,,,
4244733e06e7ecb4970a6e2683c13e61,00010242fe8c5a6d1ba2dd792cb16214,1,58.90
e5f2d52b802189ee658865ca93d83a8f,00018f77f2f0320c557190d7a144bdd3,1,239.90
c777355d18b72b67abbeef9df44fd0fd,000229ec398224ef6ca0657da4fc703e,1,199.00
7634da152a4610f1595efa32f14722fc,00024acbcdf0a6daa1e931b038114c75,1,12.99
ac6c3623068f30de03045865e4e10089,00042b26cf59d7ce69dfabb4e55b4fd9,1,199.90
...,...,...,...
4aa6014eceb682077f9dc4bffebc05b0,fffc94f6ce00a00581880bf54a75a037,1,299.99
32e07fd915822b0765e448c4dd74c828,fffcd46ef2263f404302a634eb57f7eb,1,350.00
72a30483855e2eafc67aee5dc2560482,fffce4705a9662cd70adb13d4a31832d,1,99.90
9c422a519119dcad7575db5af1ba540e,fffe18544ffabc95dfada21779c9644f,1,55.99
350688d9dc1e75ff97be326363655e01,fffe41c64501cc87c801fd61db3f6244,1,43.00

In [27]:
categoria_preco_por_pedido = pd.merge(pedido, produto, on= 'product_id', how= 'inner')
categoria_preco_por_pedido

,order_id,price,product_category_name
product_id,,,
4244733e06e7ecb4970a6e2683c13e61,00010242fe8c5a6d1ba2dd792cb16214,58.9,cool_stuff
4244733e06e7ecb4970a6e2683c13e61,130898c0987d1801452a8ed92a670612,55.9,cool_stuff
4244733e06e7ecb4970a6e2683c13e61,532ed5e14e24ae1f0d735b91524b98b9,64.9,cool_stuff
4244733e06e7ecb4970a6e2683c13e61,6f8c31653edb8c83e1a739408b5ff750,58.9,cool_stuff
4244733e06e7ecb4970a6e2683c13e61,7d19f4ef4d04461989632411b7e588b9,58.9,cool_stuff
...,...,...,...
4cc4d02efc8f249c13355147fb44e34d,ffebd80e3291e811c308365936897efd,129.9,ferramentas_jardim
b10ecf8e33aaaea419a9fa860ea80fb5,ffee31fb4b5e35c9123608015637c495,99.0,moveis_decoracao
dd469c03ad67e201bc2179ef077dcd48,fff7c4452f050315db1b3f24d9df5fcd,736.0,relogios_presentes
bbe7651fef80287a816ead73f065fc4b,fffa82886406ccf10c7b4e35c4ff2788,229.9,esporte_lazer
350688d9dc1e75ff97be326363655e01,fffe41c64501cc87c801fd61db3f6244,43.0,cama_mesa_banho

In [31]:
categoria_preco_por_pedido.groupby('product_category_name')['price'].mean().sort_values(ascending=False).head(10)

product_category_name
pcs                                              1098.340542
portateis_casa_forno_e_cafe                       624.285658
eletrodomesticos_2                                476.124958
agro_industria_e_comercio                         342.124858
instrumentos_musicais                             281.616000
eletroportateis                                   280.778468
portateis_cozinha_e_preparadores_de_alimentos     264.568667
telefonia_fixa                                    225.693182
construcao_ferramentas_seguranca                  208.992371
relogios_presentes                                201.135984
Name: price, dtype: float64

In [33]:
pedido_data = pd.read_csv('olist_orders_dataset.csv', usecols= ['order_id', 'order_status', 'order_purchase_timestamp'], index_col= ['order_id'])
pedido-pedido_data

,order_id,order_purchase_timestamp,order_status,price
00010242fe8c5a6d1ba2dd792cb16214,NaN,NaN,NaN,NaN
00018f77f2f0320c557190d7a144bdd3,NaN,NaN,NaN,NaN
000229ec398224ef6ca0657da4fc703e,NaN,NaN,NaN,NaN
00024acbcdf0a6daa1e931b038114c75,NaN,NaN,NaN,NaN
00042b26cf59d7ce69dfabb4e55b4fd9,NaN,NaN,NaN,NaN
...,...,...,...,...
fffdb2d0ec8d6a61f0a0a0db3f25b441,NaN,NaN,NaN,NaN
fffdb2d0ec8d6a61f0a0a0db3f25b441,NaN,NaN,NaN,NaN
fffe18544ffabc95dfada21779c9644f,NaN,NaN,NaN,NaN
fffe41c64501cc87c801fd61db3f6244,NaN,NaN,NaN,NaN
fffe9eeff12fcbd74a2f2b007dde0c58,NaN,NaN,NaN,NaN

In [36]:
pedido_data_filtrado = pedido_data.query('order_status in ("delivered", "shipped", "invoiced")')
pedido_data_filtrado

                                 order_status order_purchase_timestamp
order_id
e481f51cbdc54678b7cc49136f2d6af7    delivered      2017-10-02 10:56:33
53cdb2fc8bc7dce0b6741e2150273451    delivered      2018-07-24 20:41:37
47770eb9100c2d0c44946d9cf07ec65d    delivered      2018-08-08 08:38:49
949d5b44dbf5de918fe9c16f97b45f8a    delivered      2017-11-18 19:28:06
ad21c59c0840e6cb83a9ceb5573f8159    delivered      2018-02-13 21:18:39
...                                       ...                      ...
9c5dedf39a927c1b2549525ed64a053c    delivered      2017-03-09 09:54:05
63943bddc261676b46f01ca7ac2f7bd8    delivered      2018-02-06 12:58:58
83c1379a015df1e13d02aae0204711ab    delivered      2017-08-27 14:46:43
11c177c8e97725db2631073c19f07b62    delivered      2018-01-08 21:28:27
66dea50a8b16d9b4dee7af250b4be1a5    delivered      2018-03-08 20:57:30

[97899 rows x 2 columns]

In [37]:
pedido_data_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97899 entries, e481f51cbdc54678b7cc49136f2d6af7 to 66dea50a8b16d9b4dee7af250b4be1a5
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_status              97899 non-null  object
 1   order_purchase_timestamp  97899 non-null  object
dtypes: object(2)
memory usage: 2.2+ MB

In [38]:
pedido_data_filtrado.order_purchase_timestamp

order_id
e481f51cbdc54678b7cc49136f2d6af7    2017-10-02 10:56:33
53cdb2fc8bc7dce0b6741e2150273451    2018-07-24 20:41:37
47770eb9100c2d0c44946d9cf07ec65d    2018-08-08 08:38:49
949d5b44dbf5de918fe9c16f97b45f8a    2017-11-18 19:28:06
ad21c59c0840e6cb83a9ceb5573f8159    2018-02-13 21:18:39
                                           ...
9c5dedf39a927c1b2549525ed64a053c    2017-03-09 09:54:05
63943bddc261676b46f01ca7ac2f7bd8    2018-02-06 12:58:58
83c1379a015df1e13d02aae0204711ab    2017-08-27 14:46:43
11c177c8e97725db2631073c19f07b62    2018-01-08 21:28:27
66dea50a8b16d9b4dee7af250b4be1a5    2018-03-08 20:57:30
Name: order_purchase_timestamp, Length: 97899, dtype: object

In [39]:
def converte_str_para_data(x):
    x = x[:10]
    x = datetime.strptime(x, '%Y-%m-%d')
    return x

pedido_data_filtrado.order_purchase_timestamp.apply(converte_str_para_data)

order_id
e481f51cbdc54678b7cc49136f2d6af7   2017-10-02
53cdb2fc8bc7dce0b6741e2150273451   2018-07-24
47770eb9100c2d0c44946d9cf07ec65d   2018-08-08
949d5b44dbf5de918fe9c16f97b45f8a   2017-11-18
ad21c59c0840e6cb83a9ceb5573f8159   2018-02-13
                                      ...
9c5dedf39a927c1b2549525ed64a053c   2017-03-09
63943bddc261676b46f01ca7ac2f7bd8   2018-02-06
83c1379a015df1e13d02aae0204711ab   2017-08-27
11c177c8e97725db2631073c19f07b62   2018-01-08
66dea50a8b16d9b4dee7af250b4be1a5   2018-03-08
Name: order_purchase_timestamp, Length: 97899, dtype: datetime64[ns]

In [40]:
pedido_data_filtrado['data_dt'] = pd.to_datetime(pedido_data_filtrado.order_purchase_timestamp)
pedido_data_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97899 entries, e481f51cbdc54678b7cc49136f2d6af7 to 66dea50a8b16d9b4dee7af250b4be1a5
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_status              97899 non-null  object
 1   order_purchase_timestamp  97899 non-null  object
 2   data_dt                   97899 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 5.0+ MB

<ipython-input-40-214155b19a95>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pedido_data_filtrado['data_dt'] = pd.to_datetime(pedido_data_filtrado.order_purchase_timestamp)

In [45]:
filtro_ano = pedido_data_filtrado.data_dt.dt.year == 2018
pedido_data_filtrado_2018 = pedido_data_filtrado[filtro_ano]
pedido_data_filtrado_2018

,order_status,order_purchase_timestamp,data_dt
order_id,,,
53cdb2fc8bc7dce0b6741e2150273451,delivered,2018-07-24 20:41:37,2018-07-24 20:41:37
47770eb9100c2d0c44946d9cf07ec65d,delivered,2018-08-08 08:38:49,2018-08-08 08:38:49
ad21c59c0840e6cb83a9ceb5573f8159,delivered,2018-02-13 21:18:39,2018-02-13 21:18:39
82566a660a982b15fb86e904c8d32918,delivered,2018-06-07 10:06:19,2018-06-07 10:06:19
5ff96c15d0b717ac6ad1f3d77225a350,delivered,2018-07-25 17:44:10,2018-07-25 17:44:10
...,...,...,...
c22a47117b6a87c967b0c278488110c1,delivered,2018-06-22 20:53:29,2018-06-22 20:53:29
c81f74e50f0496fa39716cc77cacd460,delivered,2018-03-04 22:48:38,2018-03-04 22:48:38
63943bddc261676b46f01ca7ac2f7bd8,delivered,2018-02-06 12:58:58,2018-02-06 12:58:58
11c177c8e97725db2631073c19f07b62,delivered,2018-01-08 21:28:27,2018-01-08 21:28:27
66dea50a8b16d9b4dee7af250b4be1a5,delivered,2018-03-08 20:57:30,2018-03-08 20:57:30

In [49]:
pd.merge(pedido_data_filtrado_2018, categoria_preco_por_pedido, on= 'order_id', how= 'inner')\
.groupby('product_category_name')['price'].sum().sort_values(ascending=False).head(10)

product_category_name
beleza_saude              769436.52
relogios_presentes        706235.16
cama_mesa_banho           537514.13
esporte_lazer             529851.48
informatica_acessorios    501699.30
utilidades_domesticas     397401.57
moveis_decoracao          384922.71
automotivo                346587.45
bebes                     255526.74
cool_stuff                230495.51
Name: price, dtype: float64

In [68]:
avaliacoes_pedidos = pd.read_csv('olist_order_reviews_dataset.csv', usecols= ['order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date'], index_col=['order_id'])
avaliacoes_pedidos.head()

,review_score,review_comment_title,review_comment_message,review_creation_date
order_id,,,,
73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00
a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00
f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00
658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00
8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00

In [60]:
filtro_mais_que_um_produto = pedido.order_item_id > 1
id_dos_pedidos_com_mais_de_um_produto = pedido[filtro_mais_que_um_produto].order_id.unique()
id_dos_pedidos_com_mais_de_um_produto

array(['0008288aa423d2a3f00fcb17cd7d8719',
       '00143d0f86d6fbd9f9b38ab440ac16f5',
       '001ab0a7578dd66cd4b0a71f5b6e1e41', ...,
       'ffecd5a79a0084f6a592288c67e3c298',
       'fff8287bbae429a99bb7e8c21d151c41',
       'fffb9224b6fc7c43ebb0904318b10b5f'], dtype=object)

In [61]:
pedidos_com_apenas_um_produto = pedido[~ pedido.order_id.isin(id_dos_pedidos_com_mais_de_um_produto)]
pedidos_com_apenas_um_produto

,order_id,order_item_id,price
product_id,,,
4244733e06e7ecb4970a6e2683c13e61,00010242fe8c5a6d1ba2dd792cb16214,1,58.90
e5f2d52b802189ee658865ca93d83a8f,00018f77f2f0320c557190d7a144bdd3,1,239.90
c777355d18b72b67abbeef9df44fd0fd,000229ec398224ef6ca0657da4fc703e,1,199.00
7634da152a4610f1595efa32f14722fc,00024acbcdf0a6daa1e931b038114c75,1,12.99
ac6c3623068f30de03045865e4e10089,00042b26cf59d7ce69dfabb4e55b4fd9,1,199.90
...,...,...,...
4aa6014eceb682077f9dc4bffebc05b0,fffc94f6ce00a00581880bf54a75a037,1,299.99
32e07fd915822b0765e448c4dd74c828,fffcd46ef2263f404302a634eb57f7eb,1,350.00
72a30483855e2eafc67aee5dc2560482,fffce4705a9662cd70adb13d4a31832d,1,99.90
9c422a519119dcad7575db5af1ba540e,fffe18544ffabc95dfada21779c9644f,1,55.99
350688d9dc1e75ff97be326363655e01,fffe41c64501cc87c801fd61db3f6244,1,43.00

In [62]:
pedidos_com_apenas_um_produto.order_item_id.value_counts()

1    88863
Name: order_item_id, dtype: int64

In [71]:
avaliacoes_pedidos_um_produto = pd.merge(pedidos_com_apenas_um_produto, avaliacoes_pedidos, on= 'order_id', how= 'inner')
avaliacoes_pedidos_um_produto.head()

,order_id,order_item_id,price,review_score,review_comment_title,review_comment_message,review_creation_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,58.90,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,1,239.90,4,NaN,NaN,2017-05-13 00:00:00
2,000229ec398224ef6ca0657da4fc703e,1,199.00,5,NaN,Chegou antes do prazo previsto e o produto sur...,2018-01-23 00:00:00
3,00024acbcdf0a6daa1e931b038114c75,1,12.99,4,NaN,NaN,2018-08-15 00:00:00
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,199.90,5,NaN,Gostei pois veio no prazo determinado .,2017-03-02 00:00:00